<%- include("partials/header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="about" id="about">
        <h1 class="heading"><span>about</span> us</h1>
        <div class="row">
        <div class="video-container">
            <video src="/images/study.mp4" loop autoplay muted></video>
            <h3>Back to School</h3>
        </div>
        
        <div class="content">
            <h3>Why Choose Us?</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis hic sint a
                 exercitationem accusamus nobis consectetur reiciendis incidunt sit assumenda
                 voluptates praesentium et, placeat iste neque voluptate dolor nemo. Ullam.</p>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sit, voluptate
                     officia vitae commodi consequuntur sint? Aliquid perferendis reprehenderit commodi
                      praesentium necessitatibus recusandae amet fugiat aspernatur hic! Cumque, corporis est!</p>
                <a href="#" class="btn">learn more</a>
        </div>
        </div>
    </section>
</body>
</html>